</div>
<div class="footer">
	<div class="github">
		Code for this site is hosted at <a href="https://github.com/cloudofstrife/magicdb">Github</a><br />
		Please send all questions and comments through there
	</div>
	<div class="magicdisclaimer">
		<a href="http://www.wizards.com/Magic/Summoner/">Magic the Gathering</a> and its respective properties are copyright
		<a href="http://company.wizards.com/">Wizards of the Coast</a>
	</div>
</div>
</body>
</html>