<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/magic.css" />
</head>
<body>
<div class="header">
	<a href="/">Index</a>
	<a href="/search">Search</a>
</div>
<div class="content">