<% include header.ejs %>

Index Page
<br />

<div class="sets">
	<% for (var sKey in sets) { %>
		<div class="setname">
			<a href = '/set/<%= sets[sKey] %>'>
				<%= sets[sKey] %>
			</a>
		</div>
	<% } %>
</div>

<div class="randomCard">
	<% var card = randomCard %>
	<% include card.ejs %>
</div>

<% include footer.ejs %>