.card {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
}

.carddetail {
	width: 800px;
}

.cardprintings {
	display: inline-block;
}

.cardprintinglist {
	float: left;
	width: 300px;
}

.cardprinting {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.cardimageandinfo {
	float: left;
	width: 400px;
}

.cardimages {

}

.cardimage {
	margin-left: 37px;
}

.cardprintingattribute {
	width: 300px;
	position: relative;
}

.cardprintingtitle {
	text-align: right;
	font-weight: bold;
	width: 120px;
	float: left;
}

.cardprintingvalue {
	width: 170px;
	float: left;
	margin-left: 8px
}

.cardinfo {
	float: left;
	margin-top: 20px;
}

.cardattribute {
	width: 320px;
	position: relative;
}

.cardtitle {
	display: inline-block;
	text-align: right;
	font-weight: bold;
	width: 70px;
	vertical-align: top;
}

.cardvalue {
	display: inline-block;
	width: 230px;
	margin-left: 8px
}

.sets {
	height: 300px;
	width: 400px;
	overflow-y: scroll;
}