<div class="carddetail">
	<div class="cardimageandinfo">
		<div class="cardprintings">
			<div ng-repeat="printing in card.printings | filter:cardSet" class="cardimages">
				<div class="cardimage">
					<a href="/card/{{ card.name }}">
						<img ng-src="{{ 'https://s3-us-west-2.amazonaws.com/magicdb-cards/' + printing.id + '.jpg' }}" alt="{{ card.name + ' - ' + printing.cardSetName }}" title="{{ card.name + ' - ' + printing.cardSetName }}" />
					</a>
					<div class="cardprintingattribute">
						<div class="cardprintingtitle">Expansion:</div>
						<div class="cardprintingvalue">{{ printing.cardSetName }} ({{ printing.cardSetId }})</div>
					</div>
					<div class="cardprintingattribute">
						<div class="cardprintingtitle">Rarity:</div>
						<div class="cardprintingvalue">{{ printing.rarity }}</div>
					</div>
					<div class="cardprintingattribute">
						<div class="cardprintingtitle">Card Number:</div>
						<div class="cardprintingvalue">{{ printing.setNumber }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cardinfo">
			<div class="cardattribute">
				<div class="cardtitle">Name:</div>
				<div class="cardvalue">{{ card.name }}</div>
			</div>
			<div class="cardattribute">
				<div class="cardtitle">Cost:</div>
				<div class="cardvalue">{{ card.manaCost }}</div>
			</div>
			<div class="cardattribute">
				<div class="cardtitle">CMC:</div>
				<div class="cardvalue">{{ card.convertedManaCost }}</div>
			</div>
			<div class="cardattribute">
				<div class="cardtitle">Type:</div>
				<div class="cardvalue">{{ card.type? card.type: card.types }}</div>
			</div>
			<div class="cardattribute">
				<div class="cardtitle">Text:</div>
				<div class="cardvalue">{{ card.description }}</div>
			</div>
			<div ng-if="card.type.indexOf('Creature') !== -1" class="cardattribute">
				<div class="cardtitle">P/T:</div>
				<div class="cardvalue">{{ card.power }} / {{ card.toughness }}</div>
			</div>
		</div>
	</div>
	<div class="cardprintinglist">
		<span class="cardprintingtitle">
			Card Printings
		</span>
		<span>
			(click to change image)
		</span>
		<div ng-repeat="printing in card.printings" class="cardprinting">
			<div class="cardprintingattribute cardprintingset">
				<input id="{{printing.cardSetName}}" class="setradio" type="radio" ng-model="cardSet.cardSetName" name="set" value="{{printing.cardSetName}}" ng-checked="$index == 0">
				<label for="{{printing.cardSetName}}" class="settitle">Expansion:</div>
				<label for="{{printing.cardSetName}}" class="setvalue">{{ printing.cardSetName }} ({{ printing.cardSetId }})</div>
			</div>
		</div>
	</div>
</div>
